@import "login-register.css";
@import "to-do-list.css";
@import "navbar.css";



:root{
    --text: #050315;
    --background: #fbfbfe;
    --primary: #2f27ce;
    --secondary: #dedcff;
    --accent: #433bff;
    --linearPrimarySecondary: linear-gradient(#2f27ce, #dedcff);
    --linearPrimaryAccent: linear-gradient(#2f27ce, #433bff);
    --linearSecondaryAccent: linear-gradient(#dedcff, #433bff);
    --radialPrimarySecondary: radial-gradient(#2f27ce, #dedcff);
    --radialPrimaryAccent: radial-gradient(#2f27ce, #433bff);
    --radialSecondaryAccent: radial-gradient(#dedcff, #433bff);
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--text);
    background-color: var(--background);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}